[submodule ".registry"]
	path = .registry
	url = https://github.com/rapidsurveys/universe
	branch = HEAD
[submodule "bbw"]
	path = bbw
	url = https://github.com/rapidsurveys/bbw
[submodule "odkr"]
	path = odkr
	url = https://github.com/rapidsurveys/odkr
[submodule "okapi"]
	path = okapi
	url = https://github.com/rapidsurveys/okapi
[submodule "oldr"]
	path = oldr
	url = https://github.com/rapidsurveys/oldr
